* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

.navbar{
    width: 100% !important;
    height: 200px;
}


body {
    background-color: #f8f8f8;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ff6600;
    padding: 10px 20px;
}

.logo h1 {
    color: white;
    font-size: 24px;
}

.logo h1 span {
    color: #ffd500;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-bar button {
    background-color: white;
    border: none;
    padding: 5px;
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons img {
    margin-left: 15px;
}

.header-icons span {
    margin-left: 5px;
    color: white;
}

.product-section {
    position: relative;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center; /* Alinea los elementos hijos horizontalmente */
    padding: 20px;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto; /* Centra el contenedor */
}

.product-image img {
    display: flex;
    width: 600px;
    height: auto;

    border-radius: 30px;
}

.titles {
    width: 100%; /* Asegura que ocupe todo el ancho */
    display: flex;
    justify-content: center; /* Centra los elementos */
    align-items: center;
    flex-direction: column; /* Alinea el título y el descuento en columna */
    text-align: center;
    margin-bottom: 20px;
}

.titles h3 {
    padding: 10px;
    border-radius: 15px;
    background-color: #00cc66;
    color: white;
    font-size: 24px; /* Aumenta el tamaño del texto */
    margin-bottom: 0px; /* Espacio entre el título y el descuento */
}


.current_price {
    color:#079950;
    font-size: 44px;
    font-weight: bold;
}


.old_price {
    color: rgb(214, 2, 2);
    text-decoration: line-through; /* Aplica tachado al precio viejo */
    font-size: 20px;
    padding-left: 3%;
    position: relative;
}


.prices {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.product-details {
    padding: 20px;
    width: 100%;
    text-align: start;
}

.product-details h2 {
    font-size: 28px;
    color: #000000;
    text-align: center;
}




.rating {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrando el contenedor de la puntuación y las estrellas */
    align-items: start; /* Alinea el texto y las estrellas verticalmente */
    margin-left: 20% ; /* Centra el bloque de la puntuación */
    margin-top: 3%;
    margin-bottom: 3%;
}

.rating span {
    border-radius: 15px;
    padding: 6px;
    background-color:#ff812d;
    font-style: bold;
    font-size: 20px;
    color: rgb(255, 255, 255);
    margin-bottom: 10px; /* Espacio entre el texto y las estrellas */
}

.rating h4{
    background-color: #ffffff;
    color: #ff6600;
    text-align: end;
    font-size: 16px;
}

.product-details p {
    display: flex;
   text-align: start;
    width: 60%;
    font-size: 16px;
    color: #555;
    margin: 0 auto;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
    gap: 10px;
}

.order-now {
    font-size: 30px;
    font-style: bold;
    width: 400px;
    height: 70px;
    background-color: #00cc66;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.add-to-cart {
    font-style: bold;
    font-size: 30px;
    width: 400px;
    height: 70px;
    background-color: #ffcc00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.vendor-section {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 20px;
    background-color: white;
}

.vendor-info {
    width: 100%; /* Asegura que ocupe todo el ancho disponible */
    display: flex;
    align-items: center;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin-bottom: 20px;
}


.vendor-info img {
    border-radius: 100px;
    width: 70px;
    height: auto;
    margin-right: 10px;
}

.vendor-info h4 {
    margin-right: 10px; /* Espacio entre el nombre del vendedor y la puntuación */
    font-size: 20px;
}

.vendor-rating {
    color: #ff6600;
    padding: 0; /* Elimina padding innecesario */
}
.vendor-rating span {
   
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 12px;
    background-color: #ff6600;
    color: #ffffff;
}


