* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    width: 100% !important;
    height: 200px;
}

.carrusel{
    width: 100% !important;
    height: 370px;
}

.grid_products{
    padding: 0%;
    width: 100% !important;
    height: 1000px;  
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}



.logo {
    font-size: 1.5em;
    color: white;
    font-weight: bold;
}

.search-bar {
    flex: 1;
    margin: 0 20px;
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    font-size: 1.5em;
    margin: 0 10px;
    color: white;
}

.profile-btn {
    background-color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.categories {
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.category-list {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.category-item {
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.vendors {
    padding: 20px;
    text-align: center;
}

.vendor-slider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.vendor-list {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 0 10px;
}

.vendor-item {
    width: 80px;
    height: 80px;
    background-color: black; /* Imagen placeholder */
    border-radius: 50%;
}

.featured-products {
    padding: 20px;
    text-align: center;
}

.product-banner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.banner-item {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    background-color: black; /* Imagen placeholder */
    color: white;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: black; /* Imagen placeholder */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 250px;
}


.hamburguesa{
    border-radius: 10px;
    width: 45%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    height: fit-content;
}

.picada{
    width: fit-content;
    height: fit-content;
}