* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #242424;
}
.navbar{
    display: flex;
    width: 100% !important;
    height:160px;
}

.categorias{
    display: flex;
    width: 100% !important;
    height: 370px;
}

.carrusel_vendedores{
    display: flex;
    width: 100% !important;
    height: 370px;
}

.carrusel_productos{
    display: flex;
    width: 100% !important;
    height: 380px;
}

.grid_products{
    padding: 0%;
    width: 100% !important;
    height: 1000px;  
}

.footer{
    width: 100% !important;
    height:250px;
}


.categories {
   padding-top: 0px;
}

.category-item {
    padding: 0%;
}

.vendedores {
    display: flex;
    align-self: center;
    padding: 0px;
    width: 100%;
   
}

.vendor-slider {
   
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-btn {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.vendor-list {
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin: 0 10px;
}

.vendor-item {
    width: 80px;
    height: 80px;
    background-color: black; /* Imagen placeholder */
    border-radius: 50%;
}

.featured-products {
    padding: 20px;
    text-align: center;
}

.product-banner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.banner-item {
    background-color: #eee;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
    background-color: black; /* Imagen placeholder */
    color: white;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-item {
    background-color: rgb(0, 0, 0); /* Imagen placeholder */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 250px;
}
