* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Nunito;
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

.carousel {
    position: relative;
    width: 70%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    animation: slide-animation 12s infinite;
}

.carousel-slide {
    display: flex;
    width: 200%; /* Ajustado para mostrar dos imágenes al mismo tiempo */
}

.carousel-item {
    min-width: 50%; /* Cada imagen ocupará el 50% del ancho del carrusel */
    transition: transform 0.5s ease;
    position: relative;
}

.carousel-item img {
    width: 90%; /* Ajusta el tamaño de las imágenes dentro del contenedor */
    border-radius: 10px;
    height: 250px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 30px;
    background-color: rgba(0, 0, 0, 0.233);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left;
}

.carousel h2 {
    margin-bottom: 20px;
}

.carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.indicator {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

ul, li {
    list-style-type: none;
}


.indicator.active {
    background-color: #333;
}

/* Animación automática */
@keyframes slide-animation {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(0);
    }
    33% {
        transform: translateX(-50%);
    }
    58% {
        transform: translateX(-50%);
    }
    66% {
        transform: translateX(-100%);
    }
    91% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(-150%);
    }
}
