* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #242424;
    font-family: nunito;
}
.navbar{
    width: 100% !important;
    height:155px;
   
}

.banner{
    margin:top =0px;
    display: flex;
    width: 100%;
    height: 400px; 
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner img {
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    width: 90%;
    height: 400px;
    object-fit: cover;
    filter: blur(5px) brightness(0.7); /* Ajuste del difuminado más oscuro */
}

.banner h1 {
    scale: 3;
    position: absolute;
    display: flex;
    text-align: center;
    color: white;
}

.banner h2 {
    position: absolute;
    margin-top: 130px; /* Ajusta este valor según la posición deseada */
    display: flex;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    font-size: 1.5rem; /* Tamaño del subtítulo */
    font-family: 'Nunito', sans-serif;
}




.carrusel_productos{
    display: flex;
    width: 100% !important;
    height: 380px;
}

.categories{
    display: flex;
    width: 100% !important;
    height: 380px;
}
.grid_products{
    padding: 0%;
    width: 100% !important;
    height: 900px;  
}

.footer{
    width: 100% !important;
    height:250px;
}
